<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393638726228-glrdi39utq859hkcf6rmkalcnn2fp247.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393638726228-glrdi39utq859hkcf6rmkalcnn2fp247</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393638726228-hkor5rjdmvtdcmu478mmg5g4cqqhp61d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlY4EGGSG3i14p-ZsK0LRGH25Gg-nyrSc</string>
	<key>GCM_SENDER_ID</key>
	<string>393638726228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luisportal.classattendance</string>
	<key>PROJECT_ID</key>
	<string>attendance-33281</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-33281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393638726228:ios:780c7db714b1349e9dfbc1</string>
</dict>
</plist>